.question-icon {
  color: #0091C5;
}

.answer-icon {
  color: #D71D3B;
}

.question-card
{
  border-radius: 9px;
  border: solid 3px #aac5de;
}

.answer-card
{
  border-radius: 9px;
  border: solid 3px #ECA5B2;
}

.answer-list-card{
  border-radius: 9px;
  border: solid 3px #a472af;
}

.best-card
{
  border-radius: 9px;
  border: double 3px;
}
