body{
  background: #eee url(http://subtlepatterns.com/patterns/leaves.png);
  }

// Font
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&amp;subset=japanese');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
  font-size: 120%;
}


.container {
  h1{
    text-align: center;
  }
}

ul {
  list-style-type: none;
}

a {
  color: #17a2b8;
}
