body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  color: #fff;
}


.navbar-brand {
  color: black !important;
}

.nav-link {
  color: black !important;
}
