.question-icon {
  color: #0091C5;
}

.answer-icon {
  color: #D71D3B;
}

.question-card {
  border-radius: 9px;
  border-bottom: solid 6px #aac5de;
}

.answer-card {
  border-radius: 9px;
  border-bottom: solid 6px #ECA5B2;
}

.answer-list-card {
  border-radius: 9px;
  border-bottom: solid 6px #a472af;
}

