.item {
  margin-bottom: 60px;
}

.card {
  border-radius: 4px;
  border: 1px solid #DCDCDC;
  box-shadow: 0 2px 2px #DCDCDC;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  height: 15em;
}

.card-head {
  height: 20%;
  padding: 10px 10px;
  border-bottom: 1px solid #DCDCDC;
}

