body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  color: #fff;
}

.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}

