ul {
  list-style-type: none;
}

.nasu {
  color: #7C4B8D;
}

.apple {
  color: #DB3D36;
}

.card {
  border-radius: 9px;
  border: 1px solid #DCDCDC;
  box-shadow: 0 3px 6px #DCDCDC;
  background-color: #FFFFFF;
}

.category-card {
  border-radius: 9px;
  border: 1px solid #DCDCDC;
  box-shadow: 0 3px 6px #DCDCDC;
  background-color: #FFFFFF;
}

ul.list-group {
  display: table;
  width: 100%;
}

ul.list-group > li:nth-child(3n+1) {
  clear: both;
}

ul.list-group > li {
  display: table-cell;
  float: left;
  width: 33%;
}

